 :root {
  --clr-1--: #c0bdbb;

  --clr-2--: #dde2e2;
}
*{
  margin: 0px;
  padding: 0px;
}

 header, body {
  font-family:sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-image: url("abc");
}

h1,
h2,
h3 {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  line-height: 1;
  text-align:center;
}

h2,
h3,
p {
  margin-bottom: 1em;
}



.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-flow: row wrap;
  font-size: 1.5rem;
  width: 100%;
  background-color:#c0bdbb;
  font-family: 'Poppins', sans-serif;
    
}


nav li{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  border: 1px solid;
  box-sizing: border-box;
  flex: 1 0 0;
  min-width: 10rem;
}




nav li:hover{
  background-color: #f5ca02;
  color: black;
}

.active {
  background-color: #92918e;
  color: black;
  box-shadow: rgba(0, 10px, 0, 1);
}

 img {
  display: block;
  width: 100%;
}
div>img{
  margin-bottom: 2rem;
}

.container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(90%, 70.5rem);
}

.flex-part {
  padding-top: 2rem;
  display:flex;
  flex-direction: column;
}

.part1 {
  background-color: tan;
}

.part2 {
  background-color: teal;
}

.part3{
  
  background-color: #f5ca02;
}


  

footer{
  background-color: #c0bdbb;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 25px;
  padding: 30px;
}

.fa{
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
}

.fa-facebook{
  background: #3B5998;  
  color: white;
}

.fa-instagram{
  background: #125688;
  color: white;
}













